<script type="text/javascript">
  
  jQuery(function($){
    
    $.supersized({
    
      // Functionality
      slide_interval          :   3000,   // Length between transitions
      transition              :   1,      // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
      transition_speed    : 700,    // Speed of transition
                             
      // Components             
      slide_links       : 'blank',  // Individual links for each slide (Options: false, 'num', 'name', 'blank')
      slides          :   [     // Slideshow Images
                        {image : 'https://pbs.twimg.com/media/B2PmNSoCAAARaXM.jpg', title : 'Image Credit: Maria Kazvan', thumb : 'https://pbs.twimg.com/media/B2PmNSoCAAARaXM.jpg', url : 'https://pbs.twimg.com/media/B2PmNSoCAAARaXM.jpg'},
                        {image : 'https://pbs.twimg.com/media/B0jE8XUCIAEYzaU.jpg', title : 'Image Credit: Maria Kazvan', thumb : 'https://pbs.twimg.com/media/B0jE8XUCIAEYzaU.jpg', url : 'https://pbs.twimg.com/media/B0jE8XUCIAEYzaU.jpg'},  
                        {image : 'https://pbs.twimg.com/media/ByaRtB5CIAE88ps.jpg', title : 'Image Credit: Maria Kazvan', thumb : 'https://pbs.twimg.com/media/ByaRtB5CIAE88ps.jpg', url : 'https://pbs.twimg.com/media/ByaRtB5CIAE88ps.jpg'},
                        {image : 'https://pbs.twimg.com/media/Bx5BhyuCIAAo6W8.jpg', title : 'Image Credit: Colin Wojno', thumb : 'https://pbs.twimg.com/media/Bx5BhyuCIAAo6W8.jpg', url : 'https://pbs.twimg.com/media/Bx5BhyuCIAAo6W8.jpg'},
                        {image : 'https://pbs.twimg.com/media/BoiLnCHIQAAmI5Y.jpg', title : 'Image Credit: Colin Wojno', thumb : 'https://pbs.twimg.com/media/BoiLnCHIQAAmI5Y.jpg', url : 'https://pbs.twimg.com/media/BoiLnCHIQAAmI5Y.jpg'},
                        {image : 'https://pbs.twimg.com/media/Bhp8SvVIEAAVZVQ.jpg', title : 'Image Credit: Colin Wojno', thumb : 'https://pbs.twimg.com/media/Bhp8SvVIEAAVZVQ.jpg', url : 'https://pbs.twimg.com/media/Bhp8SvVIEAAVZVQ.jpg'},
                        {image : 'https://pbs.twimg.com/media/BhKQ_eTCAAAYsZB.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/BhKQ_eTCAAAYsZB.jpg', url : 'https://pbs.twimg.com/media/BhKQ_eTCAAAYsZB.jpg'},
                        {image : 'https://pbs.twimg.com/media/Be5HOFIIIAAviA7.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/Be5HOFIIIAAviA7.jpg', url : 'https://pbs.twimg.com/media/Be5HOFIIIAAviA7.jpg'},
                        {image : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg', url : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg'}



,
                        {image : 'https://pbs.twimg.com/media/BepmtbsIUAABg4t.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/BepmtbsIUAABg4t.jpg', url : 'https://pbs.twimg.com/media/BepmtbsIUAABg4t.jpg'}
,
                        {image : 'https://pbs.twimg.com/media/BbWqGvgCEAAKL_x.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/BbWqGvgCEAAKL_x.jpg', url : 'https://pbs.twimg.com/media/BbWqGvgCEAAKL_x.jpg'}
,
                        {image : 'https://pbs.twimg.com/media/BZVjrDmCEAAf2GN.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/BZVjrDmCEAAf2GN.jpg', url : 'https://pbs.twimg.com/media/BZVjrDmCEAAf2GN.jpg'}
,
                        {image : 'https://pbs.twimg.com/media/BYZ6Y8bCIAAVjLp.png', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/BYZ6Y8bCIAAVjLp.png', url : 'https://pbs.twimg.com/media/BYZ6Y8bCIAAVjLp.png'}
,
                        {image : 'https://pbs.twimg.com/media/BHetSyYCQAAe1-9.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/BHetSyYCQAAe1-9.jpg', url : 'https://pbs.twimg.com/media/BHetSyYCQAAe1-9.jpg'}
,
                        {image : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg', url : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg'}
,
                        {image : 'https://pbs.twimg.com/media/BkAoMbDIMAA8pjY.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/BkAoMbDIMAA8pjY.jpg', url : 'https://pbs.twimg.com/media/BkAoMbDIMAA8pjY.jpg'}
,
                        {image : 'https://pbs.twimg.com/media/BjqTd79IUAAeTYo.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/BjqTd79IUAAeTYo.jpg', url : 'https://pbs.twimg.com/media/BjqTd79IUAAeTYo.jpg'}
,
                        {image : 'https://pbs.twimg.com/media/B78LDK2CEAAOMp7.png', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/B78LDK2CEAAOMp7.png', url : 'https://pbs.twimg.com/media/B78LDK2CEAAOMp7.png'}
,
                        {image : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg', url : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg'}
,
                        {image : 'https://pbs.twimg.com/media/B7tHqc3CEAAlvbj.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/B7tHqc3CEAAlvbj.jpg', url : 'https://pbs.twimg.com/media/B7tHqc3CEAAlvbj.jpg'}
,
                        {image : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg', url : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg'}
,
                        {image : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg', title : 'Image Credit: Brooke Shaden', thumb : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg', url : 'https://pbs.twimg.com/media/Ber9cLJIIAAI7rW.jpg'}



                    ]
      
    });
    });
    
</script>
  

<style type="text/css">
  ul#demo-block{ margin:0 15px 15px 15px; }
    ul#demo-block li{ margin:0 0 10px 0; padding:10px; display:inline; float:left; clear:both; color:#aaa; background:url('assets/bg-black.png'); font:11px Helvetica, Arial, sans-serif; }
    ul#demo-block li a{ color:#eee; font-weight:bold; }
</style>




<ul id="demo-block">
  <li><a href="http://buildinternet.com/project/supersized/" target="_blank"><img src="assets/supersized-logo.png"/></a></li>
  <li>Photographers: <a href="http://cargocollective.com/mariakazvan" target="_blank">Maria Kazvan</a>, <a href="http://colindub.com" target="_blank">Colin Wojno</a>, &amp; <a href="http://brookeshaden.com/" target="_blank">Brooke Shaden</a></li>
</ul>

<!--End of styles-->

<!--Thumbnail Navigation-->
<div id="prevthumb"></div>
<div id="nextthumb"></div>

<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>

<div id="thumb-tray" class="load-item">
  <div id="thumb-back"></div>
  <div id="thumb-forward"></div>
</div>

<!--Time Bar-->
<div id="progress-back" class="load-item">
  <div id="progress-bar"></div>
</div>

<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
  <div id="controls">
    
    <a id="play-button"><img id="pauseplay" src="assets/pause.png"/></a>
  
    <!--Slide counter-->
    <div id="slidecounter">
      <span class="slidenumber"></span> / <span class="totalslides"></span>
    </div>
    
    <!--Slide captions displayed here-->
    <div id="slidecaption"></div>
    
    <!--Thumb Tray button-->
    <a id="tray-button"><img id="tray-arrow" src="assets/button-tray-up.png"/></a>
    
    <!--Navigation-->
    <ul id="slide-list"></ul>
    
  </div>
</div>